/* greens */

polygon { fill: #fff; stroke: grey;}

.work1 polygon {fill: #98ee90; }
.work2 polygon {fill: #3cb371; }
.work3 polygon {fill: #008000; }

/* oranges */
.friend1 polygon { fill: #f50; }
.friend2 polygon { fill: #f50; } /* 20/100/65 */
.friend3 polygon { fill: #f50; }
.friend3 polygon { stroke-width: 15; }
.friend1 text { stroke-opacity: 0.5; }

/* blues */
.play1 polygon { fill: #87cefa }
.play2 polygon { fill: #1e90ff }
.play3 polygon { fill: #4169e1 }

/* yellow-to-orange */
.school1 polygon { fill: #ffffd4; }
.school2 polygon { fill: #fed98e; }
.school3 polygon { fill: #fe9929; }
.school4 polygon { fill: #d95f0e; }
.school5 polygon { fill: #993404; }

/* reds */
.love1 polygon { fill: #ff80db } /* 317/100/75 */
.love2 polygon { fill: #d22d53} /* 346/65/50*/
.love3 polygon { fill: #f00 }  /* 0/100/50 */

/* blacks/grays */
.k1 { fill: #f7f7f7 }
.k2 { fill: #d9d9d9 }
.k3 { fill: #bdbdbd }
.k4 { fill: #969696 }
.k5 { fill: #636363 }
.k6 { fill: #252525 }

/* yellow-to-blue */
.yb1 { fill: #ffffcc }
.yb2 { fill: #c7e9b4 }
.yb3 { fill: #7fcdbb }
.yb4 { fill: #41b6c4 }
.yb5 { fill: #1d91c0 }
.yb6 { fill: #225ea8 }
.yb7 { fill: #0c2c84 }

/* yellow-green */
.yg1 { fill: #ffffcc }
.yg2 { fill: #d9f0a3 }
.yg3 { fill: #addd8e }
.yg4 { fill: #78c679 }
.yg5 { fill: #41ab5d }
.yg6 { fill: #238443 }
.yg7 { fill: #005a32 }

.gb1 { fill: #f0f9e8 }
.gb2 { fill: #ccebc5 }
.gb3 { fill: #a8ddb5 }
.gb4 { fill: #7bccc4 }
.gb5 { fill: #4eb3d3 }
.gb6 { fill: #2b8cbe }
.gb7 { fill: #08589e }

/* purples */
.project1 polygon { fill: #e6e6fa; }
.project2 polygon { fill: #9370db; }
.project3 polygon { fill: #800080; }

/* pastels */
.pastel1 { fill: #fbb4ae }
.pastel2 { fill: #b3cde3 }
.pastel3 { fill: #ccebc5 }
.pastel4 { fill: #decbe4 }
.pastel5 { fill: #fed9a6 }
.pastel6 { fill: #ffffcc }
.pastel7 { fill: #e5d8bd }
.pastel8 { fill: #fddaec }
.pastel9 { fill: #f2f2f2 }

/* whites */
.wh1 { fill: #ffffff }
.wh2 { fill: #fffafa }
.wh3 { fill: #f0fff0 }
.wh4 { fill: #f5fffa }
.wh5 { fill: #f0ffff }
.wh6 { fill: #f0f8ff }
.wh7 { fill: #f8f8ff }
.wh8 { fill: #f5f5f5 }
.wh9 { fill: #f5f5ee }
.wh10 { fill: #f5f5dc }
.wh11 { fill: #fdf5f6 }
.wh12 { fill: #fffaf0 }
.wh13 { fill: #fffff9 }
.wh14 { fill: #faebd7 }
.wh15 { fill: #faf0e6 }
.wh16 { fill: #fff0f5 }
.wh17 { fill: #ffe4e1 }

a polygon:hover { fill: #ffffff }

.age:nth-child(even) polygon { fill: mintcream; }
.age:nth-child(odd) polygon { fill: lavender; }

.vert {
    glyph-orientation-vertical: 270;
    writing-mode: tb-rl;
}
.left {text-anchor: start;}
.middle {text-anchor: middle;}
.right {text-anchor: end;}
